.navigation-bar {
  padding: 15px;
  background-color: white;
}

.nav-left img {
  width: 50px;
  height: auto;
}

.nav-left a {
  text-decoration: none;
  padding: 5px;
  color: #f06d06;
  font-variant: small-caps;
  font-family: cursive;

}

.section-one {
  background-image:
    linear-gradient( to right,
      #ee1289, #f06d06
    );
    height: 500px;
    width:auto;
    box-sizing: border-box;
}

.nav-right a {
  position: relative;
  color: #f06d06;
  text-decoration: none;
  padding: 5px;
  text-transform: capitalize;
  float: right;
  font-family: cursive;
  right: 15px;
  top: -25px;

}

.nav-right img {
  position: relative;
  float: right;
  padding-right: 30px;
  top: -17px;
  right: 15px;
}

.right-heading h1 {
  text-transform: capitalize;
  color: white;
  font-family: cursive;
  font-size: 50px;
  font-weight: normal;


}


.right-heading h2 {
  position: relative;
  font-variant: small-caps;
  font-family: cursive;
  font-size: 15px

}



.right-heading h3 {
  font-family: cursive;
  font-size: 30px;
  color: white;
}

.right-heading p {
  position: relative;
  color: white;
  font-family: cursive;
  padding-right: 300px;
}

.right-heading h3,h4{
  display: inline-block;
}

#button-container a{
  /*border: 2px solid black;*/
  position: relative;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  margin-left: 100px;
  top: -60px;
  text-decoration: none;
  font-variant: small-caps;

}

.right-heading a{
  padding-left: 260px;
  text-decoration: underline;
  text-transform: capitalize;
  color: black;

}

.left-heading a {
  position: relative;
  font-variant: small-caps;
  text-decoration: none;
  color: white;
  padding-left: 250px;
  font-size: 20px;
  font-family: cursive;
  top: 70px;
  right: 30px;
}


.left-image img {
  position: relative;
  width: 550px;
  height: auto;
  padding-left: 200px;
  top: 100px;

}

.right-heading, .left-image {
  display: inline-block;
  position: inherit;
}

.right-heading {
position: relative;
padding-left: 900px;
top: -250px;

}
