.navigation-bar {
  padding: 15px;
  background-color: white;
}

.nav-left img {
  width: 50px;
  height: auto;
}

.nav-left a {
  text-decoration: none;
  padding: 5px;
  color: #f06d06;
  font-variant: small-caps;
  font-family: monospace;

}

.section-one {
  background-image:
    linear-gradient( to right,
      #ee1289, #f06d06
    );
}

.nav-right a {
  position: right;
  color: #f06d06;
  text-decoration: none;
  padding: 5px;
  text-transform: capitalize;
  float: right;
  font-family: monospace;


}

.nav-right img {
  float: right;
  padding-right: 30px;
}

.right-heading h1 {
  text-transform: capitalize;
  color: white;
}


.right-heading h2 {
  font-variant: small-caps;
  font-family: monospace;
}

.right-heading p {
  color: white;
  font-family: monospace;

}

.left-heading a {
  font-variant: small-caps;
  text-decoration: none;
  color: white;
  padding-left: 250px;
  font-size: 25px;
  font-family: monospace;
}


.left-image img {
  width: 550px;
  height: auto;
  border: solid black 1px;
  padding-left: 200px;
}

.right-heading, .left-image {
  display: inline-block;
}
